body {
    background-color: powderblue;
    font-size: 20px;
    padding: 20px;
  }
  h1 {
    color: blue;
    margin:auto; 
    width:50%; 
    text-align:center; 
    font-family: "Josefin Sans", sans-serif;
    /* font-family:arial;  */
    padding:20px;
  }

  h3 {
    margin:auto; 
    width:50%; 
    text-align:center; 
    font-family: "Josefin Sans", sans-serif;
    /* font-family:arial;  */
    padding:10px;
  }

  div, header, main, time, section, summary {

    margin:auto; 
    width:50%; 
    text-align:center; 
    font-family: "Josefin Sans", sans-serif;
    /* font-family:arial; */
    padding:10px;
  }

  button {
    font-size:25px; 
    text-align:center; 
    font-family: "Josefin Sans", sans-serif;
    /* font-family:arial; */
    padding:10px;

  }



 